.title {
    text-align: center;
}

.div {
    /* background-color: #a3c585    ; */
    
}

.container {
    margin-top: 2.5%;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.formcontrol {
    margin-bottom:10px ;
    border-color: black;
}

.button {
    margin-top: 2.5%;
    margin-bottom:10% ;
    
}

.errormessage {
    margin-top: 5%;
    font-size: larger;
    color: #D2042D	;
    text-align: center;
}

.noclick {
    pointer-events: none;
}