.title {
    font-size: xxx-large;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}

.para1 {
    text-align: center;
    font-size: xx-large;
}

.para2 {
    text-align: left;
    font-size: xx-large;
}

.para3 {
    text-align: left;
    font-size: xx-large;
}

.bullets {
    list-style-type: square;
    text-align: left;
    font-size: xx-large;
    list-style-position: outside;
    margin-left: 2.5%;
}

.ub {
    text-decoration: underline;
    font-weight: bold;
}

.scrollbg {
    background-color: rgb(224, 251, 255);
    padding: 2% 12.5%;
    color: black;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    /* position: relative; */
}

.bgImage {
    display: grid;
    margin: 0 auto;
}


.wrapper {
    background-color: rgb(224, 251, 255);
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.25;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
}
.noclick {
    pointer-events: none;
}