.center {
  display: block;
  margin: 0 auto;
  width:99%;
  height:99%;
}

.scrollbg {
  background-color: white;
  padding: 4% 5.5%;
}

.noclick {
  pointer-events: none;
}

@media (max-width: 767px) {
  .blank {
      height: 70px;
  }
}