.wrapper {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2% 12.5%;
    /* margin-top: 22%; */
    text-align: center;
    line-height: 1.50;
}

.schoolName {
    font-weight: bold;
    font-size: xx-large;
}

@media (max-width: 767px) {
    .schoolName {
        font-size: x-large;
        font-weight: bold;
    }
  }

.otherInfo {
    font-size: larger;
}
@media (max-width: 767px) {
    .otherInfo {
        font-size: large;
    }
  }

.link {
    color: blue;
    text-decoration: underline;
}

