.bgi {
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    /* text-align: center; */
    /* color: white; */
    /* background-position: center center; */
}