.bgi {
    max-height: 100vh;
    max-width: 100vw;
    /* z-index: -1; */
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: cente;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    /* text-align: center; */
    /* color: white; */
    /* background-position: center center; */
}