

.center {
    margin:0 auto;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.videobg {
    padding-bottom: 3%;
}

.paragraph {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 74%;
}

.container {
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.bgc{
    background-color: #ADD8E6;

}

.big {
    font-size: xx-large;
}
@media (max-width: 767px) {
    .big {
      font-size: larger;
    }
  }

.image {
    width:auto;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    /* position:absolute; */
}

.carousel {
    width:90%;
    margin:0 auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

.caro {
    margin: 0 auto;
}

.carobg {
    background-color: #87cae1;
}

.verse {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #191970;
    font-size: x-large;
    font-weight: bold;
}


.banner {
    object-fit: cover;
}
.noclick {
    pointer-events: none;
}
@media (max-width: 767px) {
    .noclick {
      object-fit: cover !important;
      height: 269px !important;
    }
  }

.iframe {
    width: 951px;
    height: 535px;
}
@media (max-width: 767px) {
    .iframe {
      width: 400px;
      height: 300px;
    }
  }


  @media (max-width: 767px) {
    .blank {
        height: 70px;
    }
  }