.testdiv {
    /* position: relative; */
    font-size: xx-large;
}

.center {
    margin:0 auto;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.paragraph {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 74%;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.big {
    font-size: xx-large;
}

.image {
    width:auto;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.carousel {
    width:60%;
    margin:0 auto;
}

.caro {
    margin: 0 auto;
}