

.center {
    margin:0 auto;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.videobg {
    padding-bottom: 3%;
}

.paragraph {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 74%;
}

.container {
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.bgc{
    background-color: #ADD8E6;

}

.big {
    font-size: xx-large;
}

.image {
    width:auto;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.carousel {
    width:60%;
    margin:0 auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.caro {
    margin: 0 auto;
}

.carobg {
    background-color: #ADD8E6;
}

.verse {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #191970;
    font-size: x-large;
    font-weight: bold;
}