
.para {
    font-size:xx-large; 
    text-align: center;
}

@media (max-width: 767px) {
    .para{
        font-size: x-large;
    }
  }


.wrapper {
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.25;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
}

.bgImage {
    display:grid;
    margin: 0 auto;
}

.scrollbg {
    background-color: white;
    padding: 2% 12.5%;
    color: black;
    margin-top: 2.5%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: table;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    /* position: relative; */
  }

  .column {
    aspect-ratio: 1/1.143;
    float: left;
    width: 50%;
    padding-left:2.5%;
    padding-right:2.5%;
  }

  .noclick {
    pointer-events: none;
}
  
@media (max-width: 767px) {
    .blank {
        height: 70px;
    }
  }


.banner {
    object-fit: cover;
}
@media (max-width: 767px) {
    .noclick {
      object-fit: cover !important;
      height: 200px !important;
    }
  }